/* this start_style.css page on links to the start_game html */


.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
}
.grid div {
    height: 80px;
    width: 80px;
}
.end {
    background-color: rgb(248, 8, 8);
   
}
.start {
        background-color: rgb(0, 0, 255);
}
.frog{
    background-color: rgb(150, 248, 2);
}
